1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS1. Creating Loopholes, Cheating, Exploiting, or Crashing the server is not allowed.
2. RDM (Random Death Match) and RDA (Randoms Arrest) are not allowed RDMing counts as killing/damaging someone who hasn't done anything to provoke it RDAing counts as arresting someone who hasn't done anything to provoke it.
3. Use Common Sense.
4. Mic Spamming is not allowed. 
5. Staff say is final
6. Being toxic will get you kicked.
7. NLR (New Life Rule): You forget details about your death when you die. You can't go back to where you died within 3 minutes under ANY circumstances 
8. Do not Prop Block.
9. Crossfire/Misfires can still count as RDM
10. Do not place props on the street or in front of players! doors. Never place anything on the road, placing on the sidewalk is allowed if you are a hobo. 
11. You may not disconnect while being raided.
12. You are limited to 6 TOTAL printers PER PERSON in your base. There are no exceptions to this rule. 
13. Do NOT harass players
Raid/Mug/Hire hits on someone over and over.
14. No prop climbing
Do not prop climb on top of buildings that don't have stairs leading up to the roofs,
15. You have to announce RP actions
When raiding press the raid button in the other menu
Mugging (Say You're being mugged/ when you approach someone to mug then) 
16. You may only base in a single building at a time
17. You may only raid in groups of 3 or less.
There are no exceptions to this rule.
18. Job abuse is bannable.
Switching to a role to spawn in its tools and switching back to a different role to take advantage of those tools is not allowed.
19. Do not leave during an admin sit. THIS IS A BANNABLE OFFENSE!
20. Impersonation is not allowed. (Do not pretend to be an admin)
21. Green and red gangs are allowed to kill each other
Green Gang and Red Gang are allowed to randomly kill each other (KOS on the rival gang)
22. Hitman with Hit display is KOS
